<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kouvades Rankings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Kouvades Rankings</h1>
        <div class="table-container">
            <h2>Euro 2024 Winner</h2>
            <div id="bestteam-table" class="team-table">
                <!-- Euro 2024 Winner will be inserted here -->
            </div>
        </div>
        <div class="table-container">
            <h2>Euro 2024 Worst Team</h2>
            <div id="worstteam-table" class="team-table">
                <!-- Euro 2024 Worst Team will be inserted here -->
            </div>
        </div>
        <div class="table-container">
            <h2>Most Red Cards</h2>
            <div id="mostreds-table" class="team-table">
                <!-- Most Red Cards will be inserted here -->
            </div>
        </div>
        <div class="table-container">
            <h2>Top Scorer</h2>
            <div id="topscorer-table" class="team-table">
                <!-- Top Scorer will be inserted here -->
            </div>
        </div>
        <!-- Add more groups as needed -->
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
